<!DOCTYPE html>
<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
    {{> staffHeader}}
    <div class="modal-dialog modal-lg" role="document" style="margin-top: 1%; margin-left: 10%">
        <div class="container py-5 modal-content">
            <div class="modal-header">
           <center><h2 class="modal-title">Add Staff</h2>
            </div>
            <div class="modal-body">
                <div class="py-1">
                    <form class="form" method="post" action='/doAddCourse'>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Name Course</label>
                                            <input class="form-control" type="text" name="name" >
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>category</label>
                                            <input class="form-control" type="text"  name="category">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>description</label>
                                            <input class="form-control" type="text" name="description"  >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <center>   
                            <div class="col d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Save</button>
                                <a href="/staff/staffViewCourse" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                        </center> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>